html {
	background-color: darkcyan;
    
}
.heads {
    color:chartreuse;
    text-align: center;
    border: 1px solid green;
}
* {
    text-align: center;
}
.heads ul{
    display: inline-block;
	margin: 10px 0;
	padding: 0;
}
.heads li {
	display: inline-block;
}
.home p {
    color: #000000;
}
.home h1 {
    color: #000000;
    position: relative;
}
.socials {
    text-align: center;
}
.socials ul {
	display: inline-block;
	margin: 10px 0;
	padding: 0;
}
.socials li {
	display: inline-block;
}
.homeHeads {
	position: relative;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: larger;
}


