/*Universal CSS*/
html {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}
.heads {
    text-align: center;
}
.heads ul {
    display: inline-block;
    margin: 10px 0;
    padding: 0;
}

.heads li {
    display: inline-block;
}
.heads button {
    background-color: rgb(38, 0, 255);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(22, 19, 19);
    color: white;
    text-align: center;
}

/*index.html heading animation*/
@keyframes colourBlink {
    0% {color: red;}
    25% {color: blue;}
    50% {color: green;}
    100% {color: yellow;}
}

#headingLine {
    animation-name: colourBlink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/*downloads.html */
.softwares {
    text-align: center;
    display: inline-block;
}

.softwares ul li {
    display: inline-block;
}

.softwares button {
    background-color: rgb(128, 255, 0);
    border-radius: 15px;
}