/*Universal CSS*/
html {
    background-color: #6559aa;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    /*
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(196,0,255,1) 19%, rgba(255,119,0,1) 100%);
    */
}
.heads {
    color:chartreuse;
    text-align: center;
    /*border: 1px solid rgba(228, 9, 9, 0.534);*/
}
.heads ul{
    display: inline-block;
    margin: 10px 0;
    padding: 0;
}
.heads li {
    display: inline-block;
}

.heads button {
    background-color: cornflowerblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*downloads.html */
.software_categories {
    text-align: center;
    display: inline-block;
}

.software_categories button {
    background-color: chartreuse;
}